# Ignora cartelle node_modules in tutte le sottocartelle
**/node_modules/

# Ignora file di log
**/*.log

# Ignora file temporanei di Visual Studio Code
.vscode/

# Ignora cartelle di build
**/dist/

# Ignora file di configurazione locali di ambiente
**/.env

# Ignora file di configurazione specifici di Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.rc
.terraformrc

# Ignora file di variabili sensibili in Terraform
*.tfvars
*.tfvars.json

# Ignora file di output di Terraform
*tfplan*

# Ignora file generati in specifici progetti AWS
/aws/terraform/applicazione_web_scalabile/backend/.env
/aws/terraform/applicazione_web_scalabile/backend/.env*

# Ignora dipendenze Node.js nella cartella backend
/aws/terraform/applicazione_web_scalabile/backend/node_modules/

# Ignora file di log nella cartella backend
/aws/terraform/applicazione_web_scalabile/backend/*.log

# Ignora file generati in Terraform nella cartella infra
/aws/terraform/applicazione_web_scalabile/infra/.terraform*
/aws/terraform/applicazione_web_scalabile/infra/*.tfstate*

# Ignora file di grandi dimensioni
*.iso
*.tar.gz
*.tgz
*.zip

# Ignora specifici file di grandi dimensioni nel progetto frontend
/aws/docker/docker_compose_multi-container_app/frontend/node_modules/@next/swc-linux-x64-gnu/next-swc.linux-x64-gnu.node
